@import "tailwindcss";

@layer base{
  section{
    @apply py-[75px]
  }
}

@layer components{
  .container {
    @apply max-w-full w-[1444px] px-5 mx-auto
  }
  .btn{
    @apply bg-blue-50 py-[15px] px-[35px] rounded-[50px] text-white font-[600] mt-[38px]
  }
  .heading{
    @apply text-[44px] leading-[54px] font-[700] text-blue-100
  }
  .text_para{
    @apply text-[18px] leading-[30px] font-[400] text-blue-100 mt-[18px]
  }
  .header{
    @apply bg-no-repeat bg-center bg-cover w-full h-[100px] leading-[100px] bg-red-100
  }
}

/* @apply only screen and (max-width:1024px){
  .container{
    @apply w-full
  }
} */

/* Mobile menu hidden by default */
.navigation {
  @apply hidden;
}

/* Show menu when toggle class is added */
.active__menu {
  @apply block;
}

@media only screen and (max-width:768px){
  .heading{
    @apply text-[26px] leading-[36px]
  }
  .text_para{
    @apply text-[16px] leading-7 mt-3
  }
   .navigation {
    /* @apply block !important;  */
     /* always show menu on big screens */
  }
}